@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:ital,wght@1,300&family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Black Ops One', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
